{% extends 'base.html' %}
{% load static %}


{% block title %}Autentificare{% endblock %}


{% block content %}

<div class="grid justify-center my-16 mx-3">

    <div class="card w-420">

        <div class="card-content row">

            <ul class="tabs col m12">
                <li class="tab font-medium col s6"><a class="active" href="#login">Intra in cont</a></li>
                <li class="tab font-medium col s6"><a href="#register">Creeaza un cont</a></li>
            </ul>

            <div id="login">
                <form action="#" method="POST" class="md:p-8 p-4 flex flex-col content-center justify-center">
                    {% csrf_token %}

                    <div class="input-field">
                        <span class="text-base font-medium">Email:</span>
                        <input id="Email" type="email" class="validate">
                    </div>
                    <div class="input-field mt-10">
                        <span class="text-base font-medium">Parola:</span>
                        <input id="Parola" type="text" class="validate">
                        <span class="helper-text right"><a href="#">Ti-ai uitat parola?</a></span>
                    </div>
                    <button type="submit" class="mt-8 btn-large waves-effect waves-light font-medium">
                        Intra in cont
                    </button>
                </form>
            </div>

            <div id="register" class="">

                <form action="#" method="POST" class="md:p-8 p-4 flex flex-col content-center justify-center">
                    {% csrf_token %}

                    <div class="input-field">
                        <span class="text-base font-medium">Email:</span>
                        <input id="Email" type="email" class="validate">
                    </div>
                    <div class="input-field mt-10">
                        <span class="text-base font-medium">Parola:</span>
                        <input id="Parola" type="password" class="validate">
                    </div>
                    <div class="input-field mt-10">
                        <span class="text-base font-medium">Confirma parola:</span>
                        <input id="Parola1" type="password" class="validate">
                    </div>
                    <button type="submit" class="mt-8 btn-large waves-effect waves-light font-medium">
                        Creeaza cont
                    </button>
                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}