{% load static %}

<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'tailwind.min.css' %}" />
    <link rel="stylesheet" href="{% static 'materialize.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="grey lighten-4">

    <header>

        <nav class="bg-purple-900">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo ml-2"><span class="inline-block"><svg width="26" height="22"
                            viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M24 13H16.5C15.8096 13 15.25 13.5596 15.25 14.25V20.5C15.25 21.1904 15.8096 21.75 16.5 21.75H24C24.6904 21.75 25.25 21.1904 25.25 20.5V14.25C25.25 13.5596 24.6904 13 24 13Z"
                                fill="#F6F6F6" />
                            <path
                                d="M21.0633 1.65961L1.6266 18.0328C0.866327 18.6732 0.769181 19.8087 1.40962 20.569C2.05007 21.3293 3.18557 21.4264 3.94585 20.786L23.3826 4.41281C24.1428 3.77237 24.24 2.63686 23.5995 1.87659C22.9591 1.11631 21.8236 1.01917 21.0633 1.65961Z"
                                fill="#F6F6F6" />
                        </svg></span><span class="inline-block font-medium ml-2">chirieshare</span></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="" class="font-medium">Sass</a></li>
                    <li><a href="badges.html" class="font-medium">Components</a></li>
                    <li><a href="collapsible.html" class="font-medium">JavaScript</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="#">
                    </div>
                    <a href="#user"><img class="circle" src="#"></a>
                    <a href="#name"><span class="white-text name">John Doe</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>

    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>




    <footer class="bg-purple-900 py-4 text-white">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script src="{% static 'materialize.min.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>



    {% if messages %}

    {% for message in messages %}
    <span class="none" id="flash">{{ message }} </span>
    <span class="none" id="tag">{{ message.tags }}</span>
    {% endfor %}

    <script>

        document.addEventListener("DOMContentLoaded", function (event) {

            let tag = document.getElementById("tag").innerText;

            if (tag == 'error') { var typ = 'danger'; }
            else { var typ = tag }

            new Toast({
                message: document.getElementById("flash").innerText,
                type: typ
            });

            //DOM loaded    
        });

    </script>

    {% endif %}


</body>

</html>