body {
    display: flex;
    min-height: 100vh;
    min-width: 370px;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    place-content: center center;
}

.place-items-center {
    place-items: center center;
}

label {
    color: black;
    font-weight: 500;
}

.w-420 {
    min-width: 420px;
}

@media only screen and (max-width: 501px) {
    .w-420 {
        width: 100%;
    }
}